html,
body {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 13% 1fr;
  font-size: medium;
}

header {
  background-color: #eaeaea;
}

header h2 {
  margin: 10px 0 30px 10px;
}

aside {
  grid-column: 1;
  background-color: #c8fc98;
}

article {
  grid-column: 2;
}

p {
  margin: 10px 10px;
  line-height: 1.6;
}

footer {
  text-align: center;
  background-color: black;
}

footer a {
  color: yellow;
}

.bold {
  font-weight: bold;
}

.italic-red {
  color: red;
  font-weight: bold;
  font-style: italic;
}
